🔓 <b>Успешная авторизация.</b><br><br>

Аккаунт принадлежит более чем одному ребенку.<br>
Перед началом использования бота - выберите от чьего имени будет производиться работа.<br>
<b>Для этого введите команду /change_user</b>
