Домашнее задание на {{ diary[0].date }} 📚<br><br>
{% for lesson in diary %}
{{ lesson.lessonNumber }}. {{ lesson.subject }}: 
{% if lesson.previousHomework %}
{{ lesson.previousHomework.homework }}
{% else %}
-
{% endif %}<br>
{% endfor %}
