Домашнее задание на {{ diary[0].date.strftime('%d.%m.%Y') }} 📚<br><br>
{% for lesson in diary %}
{{ lesson.lesson_number }}. {{ lesson.subject }}: 
{% if lesson.previous_homework.homework %}
{{ lesson.previous_homework.homework }}
{% else %}
-
{% endif %}<br>
{% endfor %}
