📌 <b>Уведомления</b> - способ простого отслеживания за Вашими оценкам без постоянной нужды проверять электронный дневник.<br><br>

Бот автоматически отправит вам Вашу новую оценку в течение 5 минут после выставления.<br>
