<b>Бот дневник Оренбурга является неофициальным проектом, созданным чисто из интереса @stupidcabage</b><br><br>


<b>На данный момент доступны данные команды:</b><br>
/start - Главное меню <br>
/help - Справка<br>
/diary <i>{можно указать дату}</i> - Домашнее задание<br>
/schedule <i>{можно указать дату}</i> - Расписание<br>
/marks - Выписка оценок<br><br>

<i>Возникли какие-то проблемы? Есть жалобы, вопросы или предложения?<br>
Обращайтесь к разработчику - @stupidcabage</i>
