⛔️ Похоже, что ты вводишь <b>некорректный логин</b>.<br><br>

<i>Перед повторной отправкой, проверьте правильность всех символов.<br>
Если вы считаете, что это <b>ошибка</b> - напишите разработчику <b>@stupidcabage</b></i>
