⚠️  <b>Ошибка во время авторизации.</b><br>

{% if error %}
{{ error }}<br><br>
{% endif %}

<i>Перепроверьте веденные данные и попробуйте снова или позднее.</i><br>
<i>Если вы считаете, что это <b>ошибка</b> - обратитесь к разработчику @stupidcabage</i>
