{% if 0 < marks|length < 2 %}
📬 <b>Вам поставили {{ marks|length }} новую оценку:</b>
{% elif 1 < marks|length < 5 %}
📬 <b>Вам поставили {{ marks|length }} новые оценки:</b>
{% else %}
📬 <b>Вам поставили {{ marks|length }} новых оценок:</b>
{% endif %}
<br><br>

{% for mark in marks %}
<b>{{ mark.date.strftime('%d.%m') }}</b> | {{ mark.subject }}: {{ mark.mark }}<br>
{% endfor %}
