Расписание на {{ diary[0].date.strftime('%d.%m.%Y') }} 📆<br><br>
{% for lesson in diary %}
{{ lesson.lesson_number }}. {{ lesson.subject }}
{% if lesson.grades|length > 0 %}
 | Оценка за урок: 

{% for i in range(lesson.grades|length) %}
{% if i == lesson.grades|length -1 %}
{{ lesson.grades[i] }} 
{% else %}
{{ lesson.grades[i] }}, 
{% endif %}
{% endfor %}

{% endif %}
{% if lesson.absences|length > 0 %}
 | <i>Посещение: 
{% for i in range(lesson.absences|length) %}
{% if i == lesson.absences|length -1 %}
{{ lesson.absences[i] }} 
{% else %}
{{ lesson.absences[i] }}, 
{% endif %}
{% endfor %}
 </i>
{% endif %}
<br>
{% endfor %}
