🔐 Авторизация в электронный дневник происходит через <b>гос.услуги</b>, привязанные к Вашему аккаунту.<br><br>

Войти необходимо всего один раз для получения данных об аккаунте от дневника.<br><br>

<b>Мы не храним данные ваших паролей и логинов.<br>
Сразу после этого Вы сможете поменять пароль.</b>
