Для регистрации мне понадобятся твои логин и пароль от Гос.Услуг.<br><br>


Авторизация происходит всего один раз для того, чтобы мы могли войти в ваш профиль электронного дневника.<br>
Сразу после первичного входа ты можешь спокойно поменять пароль. На работу бота это не повлияет. <br><br>


Почему нам стоит доверять?<br>
Читайте здесь.

