🪫 Ваши данные для получения информации из электронного дневника <b>устарели</b>.<br><br>
Мы <b>отключили уведомления</b>, а также ограничили доступ к работе бота.<br><br>

<b>Чтобы восстановить доступ - пройдите процесс авторизации.</b>
