Приветствую, похоже Вы здесь впервые.<br><br>

Это Telegram-бот электронного дневника Оренбурга.<br><br>

Вы можете получать домашние задания, выписку оценок, расписание, уведомления о полученных оценках и многое другое.<br><br>

Команда, чтобы узнать все функции бота: /help<br><br>
