🔎 <b>Информация о вас:</b><br><br>

<b>Имя:</b> {{ parcipiant.name }}<br>
<b>Класс:</b> {{ parcipiant.grade }}<br>
<b>Школа:</b> {{ parcipiant.school }}<br>
<b>Номер пользователя:</b> {{ parcipiant.user_id }}<br>
